In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index = [0,5,10])

In [7]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)

In [9]:
ranger

range(0, 15)

In [10]:
ser3.reindex(ranger, method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A', 'B', 'D', 'E', 'F'],
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])

dframe

       col1      col2      col3      col4      col5
A -1.302818 -0.398062  1.165618  0.927387 -1.480994
B  0.206880  0.311925  1.303387  2.021679  1.815352
D -1.129293 -1.341067 -1.579672 -0.943602  0.040833
E  1.782673  2.020102  0.828437  0.036755  0.273007
F  0.530885  0.045943 -0.618092  0.716297 -1.566180

In [12]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

dframe2

       col1      col2      col3      col4      col5
A -1.302818 -0.398062  1.165618  0.927387 -1.480994
B  0.206880  0.311925  1.303387  2.021679  1.815352
C       NaN       NaN       NaN       NaN       NaN
D -1.129293 -1.341067 -1.579672 -0.943602  0.040833
E  1.782673  2.020102  0.828437  0.036755  0.273007
F  0.530885  0.045943 -0.618092  0.716297 -1.566180

In [13]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [14]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -1.302818 -0.398062  1.165618  0.927387 -1.480994   NaN
B  0.206880  0.311925  1.303387  2.021679  1.815352   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.129293 -1.341067 -1.579672 -0.943602  0.040833   NaN
E  1.782673  2.020102  0.828437  0.036755  0.273007   NaN
F  0.530885  0.045943 -0.618092  0.716297 -1.566180   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A -1.302818 -0.398062  1.165618  0.927387 -1.480994
B  0.206880  0.311925  1.303387  2.021679  1.815352
D -1.129293 -1.341067 -1.579672 -0.943602  0.040833
E  1.782673  2.020102  0.828437  0.036755  0.273007
F  0.530885  0.045943 -0.618092  0.716297 -1.566180

In [22]:
dframe.iloc[dframe.index['A', 'B', 'C', 'D', 'E', 'F'], new_columns] #???

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices